#if (!$util.isNull($context.result.cancellationReasons))
  $util.error('DynamoDB transaction error')
#end

#if (!$util.isNull($context.error))
  $util.error('Failed to execute DynamoDB transaction')
#end

true