{
  "version" : "2018-05-29",
  "operation" : "GetItem",
  "key" : {
    "userId" : $util.dynamodb.toDynamoDBJson($context.identity.username),
    "tweetId" : $util.dynamodb.toDynamoDBJson($context.source.id)
  }
}